*{
    margin: 0;
    padding: 0;
}
h1{
    background-color:rgb(206, 151, 132);
    color:floralwhite;
}
h2{
    background-color: rgb(235, 210, 173);
    color: whitesmoke;
    padding: 15px;
    margin: 30px;
}
p{
    background-color:burlywood;
    color: aliceblue;
    padding: 5px;
    margin: 15px;
}