*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(R.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.o{
    color: rgb(127, 251, 255);
}
.b{
    text-align: center;
    font-style:unset;
    font-size: 40px;
    margin: 30px;
}
.r{
    margin: 30px 425px 30px 425px;
}
fieldset{
    padding: 15px;
}
nav{
    margin: 20px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header, footer{
    color: rgb(189, 189, 189);
    margin: 5px;
}
table{
    margin-left: 10%;
    margin-right: 10%;
}
.bo{
    width: 300px;
    height: 300px;
}
#bh{
    text-align: left;
    font-size: medium;
    position: fixed;
}
.ziri:visited{
    color: rgb(201, 62, 187);   
}
.e{
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}