p{
    background-color: rgb(135, 180, 83);
    border: 3px solid black;
    padding: 13px;
}
img{
    width: 200px;
    float: left;
    margin-right: 13px;
    margin-top: 13px;
    margin-bottom: 13px;
    cursor: pointer;
}
img:hover{
    border-color: red;
    border-style: dashed;
    padding: 7px;
}